$split-gutter-size: 1px !default;
$split-view-bar-active-bg-color: rgb(255, 115, 0) !default;
$split-view-decorator-bg-color: $bg-color;
$split-view-bar-bg-color: $bg-color;

//layout

.split-view {
  height: 100%;
  width: 100%;
  display: flex;

  > .split-view-pane {
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
  }

  > .split-view-bar {
    position: relative;
    background-color: $split-view-bar-bg-color;
    &.active {
      background-color: $split-view-bar-active-bg-color;
    }
    > .split-view-decorator {
      position: absolute;
      z-index: 1002;
      background-color: $split-view-decorator-bg-color;

    }
  }

  &.split-view-x {
    flex-direction: row;
    > .split-view-bar {
      cursor: ew-resize;
      flex-direction: row;
      height: 100%;
      > .split-view-decorator {
        height: 100%;
      }
    }
  }

  &.split-view-y {
    flex-direction: column;
    > .split-view-bar {
      cursor: n-resize;
      flex-direction: column;
      width: 100%;
      > .split-view-decorator {
        width: 100%;
      }
    }
  }
}
